{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header">
      <h5 class="mb-0">Mi cuenta</h5>
    </div>

    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-primary">
          Guardar cambios
        </button>
      </form>

      <hr>

      <a href="{% url 'cambiar_password' %}" class="btn btn-warning">
        Cambiar contraseña
      </a>
    </div>
  </div>
</div>
{% endblock %}
